/*RESETEO*/
* {
  margin: 0;
  padding: 0; }

/*INDEX*/
/*HEADER*/
.header {
  display: flex; }

.header-logo {
  width: 50%;
  height: auto;
  padding: 5px;
  margin-top: 80px; }

.destacados {
  margin: 0px 20px 50px 0px;
  padding: 0px 0px 10px 0px;
  text-align: center; }

.destacados__elementos {
  display: flex;
  justify-content: space-evenly; }

.destacados__elementos__card {
  margin: 0px 20px 20px 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease; }

.destacados__elementos__card:hover {
  box-shadow: 5px 5px 20px black;
  transform: translateY(-3%); }

.index__h2 {
  color: #031927;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin: 1em;
  padding: 15px 0px 20px 40px; }

.index__h2--vichos {
  color: #ffffff;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  padding: 15px 0px 0px 15px; }

.index__p {
  color: #ffffff;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
  padding: 0px 0px 10px 20px; }

.vichos {
  margin: 20px 20px 80px 0px;
  padding: 10px 0px 20px 0px;
  background-color: #F01c32; }

/*VICHO+MENTA*/
.background-image {
  background-image: url(media/fondoarcoiris.png);
  background-repeat: no-repeat;
  background-size: cover; }

.vichomenta-h1 {
  margin-top: 150px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #031927;
  text-align: center; }

.destacados__cuadernos {
  display: flex;
  justify-content: center; }

.destacados__cuadernos__img {
  max-width: 280px;
  height: auto; }

/*PROYECTOS*/
.header__banner {
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-top: 50px; }

.hola {
  background-color: #031927;
  margin: 20px 0px 0px 0px; }

.proyectos__h2 {
  color: #ffffff;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  padding: 15px 0px 20px 40px; }

.proyectos__p {
  color: #031927;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  text-align: justify; }

.proyectos__hola__img {
  max-width: 280px;
  height: auto;
  padding: 0px 0px 80px 0px; }

/*PORTFOLIO*/
.portfolio__seccion {
  background-color: #dfd9e2;
  display: flex;
  justify-content: space-evenly; }

.portfolio__seccion__img {
  width: 280px;
  height: 280px;
  margin: 10px 10px 10px 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease; }

.portfolio__seccion__img:hover {
  box-shadow: 5px 5px 20px black;
  transform: translateY(-3%); }

/*CONTACTO*/
.contacto__seccion {
  height: 100vh; }

.contacto__formulario {
  margin: 10px;
  display: flex;
  justify-content: center;
  padding: 20px; }

/*--------------------NAVBAR--------------------*/
#navbar {
  width: 100vw;
  height: 64px;
  background-color: #031927;
  font-weight: bold;
  position: fixed;
  z-index: 1; }

ul {
  list-style: none;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

li a {
  text-decoration: none;
  color: #ffffff;
  padding-right: 3em; }

li a:hover {
  color: #F01c32;
  transition: all ease-in-out 250ms; }

.nav__logo {
  width: 50px;
  height: auto;
  display: flex;
  justify-content: flex-start; }

/*--------------------------ESTILOS FOOTER--------------------------*/
.footer {
  height: 150px;
  background-color: #ffffff;
  color: #253133;
  text-align: center; }

.footer__logo {
  text-align: center;
  width: 80px; }

.footer__redes {
  display: flex;
  justify-content: center;
  text-decoration: none; }

.footer__redes__icono {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #253133;
  width: 50px;
  height: 50px; }

/*--------------------------ESTILOS TEXTO--------------------------*/
.texto__h1 {
  margin-top: 150px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #031927;
  text-align: center; }

.texto__h2 {
  color: #031927;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: 'nunito', sans-serif;
  letter-spacing: 5px;
  padding: 0px 0px 50px 0px; }

.texto__h3 {
  color: #031927;
  text-align: center;
  font-weight: 800;
  font-family: 'nunito', sans-serif;
  letter-spacing: 5px;
  padding: 50px 0px 50px 0px; }

/*Texto font-family:'Open Sans', sans-serif;*/
/*--------------------------PRUEBA--------------------------*/
#btn--enviar {
  background-color: blue;
  border: blue; }

#btn--borrar {
  background-color: red;
  border: red; }

#btn--vermas {
  background-color: yellow;
  border: yellow; }

/*--------------------------MEDIA QUERIES--------------------------*/
@media only screen and (max-width: 360px) {
  #navbar {
    display: none; } }

@media only screen and (min-width: 768px) {
  .header__banner {
    min-height: 350px; }
  .texto__h2 {
    font-size: 1.5rem; }
  /*ESTILOS INDEX*/
  .header__logo {
    width: 250px;
    max-width: 250px; }
  .header__h1 {
    font-size: 2rem; }
  .proyectos__p {
    padding: 0px 0px 10px 20px;
    margin: 20px 600px 50px 10px; } }
