.portfolio__seccion {
    background-color: #dfd9e2;
    display: flex;
   }
  
.portfolio{
    justify-content: center;
}
  .portfolio__seccion__img {
    width: 280px;
    height: 280px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
  }
  .portfolio__seccion__img:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
  transform: translateY(-3%);
  }