
  .hola{
    background-color: #031927;
    margin: 20px 0px 0px 0px;
  }

  .proyectos__h2{
    color: #ffffff;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    padding: 15px 0px 20px 40px;
  }

  .proyectos__p{
    color: #031927;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
  }

  .proyectos__hola__img{
    max-width: 280px;
    height: auto;
    padding: 0px 0px 80px 0px;;
  }